/* General Styles for the Home Page */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #007BFF, #6a11cb);
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

a:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
